node_modules
dist
.DS_Store
.env
.vscode
.elasticbeanstalk
deploy.sh
certs
*.log
attachments

.expo
npm-debug.*
mobile/ios/build
*.jsbundle
*.jsbundle.meta
.idea
mobile/android/app/build
mobile/android/app/release
mobile/android/build
mobile/android/app/src/main/gen
mobile/android/gradle/wrapper
.gradle
*.iml
local.properties
*.keystore